<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <userSettings>
    <setting name="SecurityModel" serializeAs="String">
        <value>Admin</value>
    </setting>
    <setting name="BaseDBMS" serializeAs="String">
        <value>SQLServer</value>
    </setting>
    <setting name="BaseConnection" serializeAs="String">
        <value>server=localhost;database=IGenIDEA_Dev;uid=dba;pwd=dba;trusted_connection=false;	</value>
    </setting>
    <setting name="MainDBMS" serializeAs="String">
        <value>SQLServer</value>
    </setting>
    <setting name="MainConnection" serializeAs="String">
        <value>server=localhost;database=IGenFuels_Data_US_Dev;uid=dba;pwd=dba;trusted_connection=false;</value>
    </setting>
    <setting name="SQLCommandTimeout" serializeAs="String">
        <value>30</value>
    </setting>
  </userSettings>
</configuration>
